name: Create Release Branches

on:
  workflow_dispatch:
    inputs:
      release_number:
        description: 'Number of the release (e.g. 2.14.0)'
        required: true
        type: string
      repositories:
        description: 'Comma-separated list of repositories to process (e.g. org/repo1,org/repo2).'
        required: true
        type: string

jobs:
  create-release-branches:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        repo: ${{ fromJSON('["' + join(split(github.event.inputs.repositories, ','), '","') + '"]') }}
    steps:
#      - name: Checkout repo
#        uses: actions/checkout@v4

      - name: Run create-release-branch action
        uses: ./.github/actions/create-release-branch
#        with:
#          release_number: ${{ github.event.inputs.release_number }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_NUMBER: ${{ github.event.inputs.release_number }}
          REPOSITORIES_INPUT: ${{ matrix.repo }}
